.admin-tab {
  width: 70%;
  margin: auto;
  background-color: white;
}
.admin-tab .trash{
  margin-left: 0.4rem;
}
.admin-tab .trash:hover i{
  color: rgb(184, 183, 183);
}
.nav-search {
  margin-top: 3rem;
}
.box-admin {
  margin: auto;
}
.text-second {
  display: none;
}
.form-search {
  width: 100%;
}
.form-search .form-input {
  margin-left: 5rem;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  box-shadow: none;
  border-radius: none !important;
  height: 37px;
}
.form-search .form-input:nth-child(2) {
  margin-left: 2rem;
}
.form-search .form-input input {
  border-bottom: 2px solid #27ae60;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-search .form-input input:focus {
  outline: none;
  box-shadow: none;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #27ae60;
}
.form-search .btn {
  margin-left: 0.1rem;
}
.form-search .btn i{
  display: none;
}
.form-search .btn:nth-child(1) {
  width: 65%;
  margin-left: 0.5rem;
}
.contact i {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.5rem;
}

.contact i:first-child {
  color: blue;
}

.contact i:nth-child(2) {
  color: green;
}
.pagination-form {
  padding: 1.5rem;
  width: 25.5rem;
  margin: auto;
}

.pagination-form .pagination button:focus {
  border: none;
  box-shadow: none;
  outline: none !important;
  background-color: #27ae60;
  color: white;
}
@media only screen and (max-width: 1880px) {
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 65%;
    margin-left: auto;
  }
  .form-search .btn {
    width: 40%;
    margin-left: 1rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
  .form-search .btn-success {
    margin-left: 2rem!important;
  }
}
@media only screen and (max-width: 1868px) {
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 60%;
    margin-left: auto;
  }
  .form-search .btn {
    width: 40%;
    margin-left: 1rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1852px) {
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 60%;
    margin-left: auto;
  }
  .form-search .btn {
    width: 40%;
    margin-left: 1rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1838px) {
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 60%;
    margin-left: auto;
  }
  .form-search .btn {
    width: 40%;
    margin-left: 1rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1815px) {
  .form-search .form-input {
    margin-left: 0;
  }
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 60%;
  }
  .form-search .btn {
    width: 40%;
    margin-left: 1rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1622px) {
  .form-search {
    width: 100%;
  }
  .form-search .form-input {
    margin-left: -1rem;
  }
  .form-search .form-input:nth-child(2) {
    margin-left: 1rem;
  }
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 55%;
    margin-left: auto;
  }
  .form-search .btn {
    width: 45%;
    margin-left: 1rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1487px) {
  .form-search .form-input {
    margin-left: -3rem;
  }
  .form-search .form-input input:nth-child(2) {
    margin-left: -1rem !important;
  }
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 60%;
    margin-left: auto;
  }
  .form-search .btn {
    width: 40%;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1366px) {
  .form-search .form-input:nth-child(1) input {
    margin-left: -2rem !important;
  }
  .form-search .form-input:nth-child(2) input {
    margin-left: -4rem !important;
  }

  .form-search .btn {
    width: 50%;
    margin-left: 3.2rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1100px) {
  .form-search .btn {
    width: 50%;
    margin-left: 2rem;
  }
  .form-search .btn-danger{
    width: 20%;
  }
}
@media only screen and (max-width: 1068px) {
  .form-search .form-input .btn-danger {
    width: 20% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 45% !important;
    margin-left: 0.5rem !important;
  }
}
@media only screen and (max-width: 970px) {
  .form-search .btn {
    width: 55%;
    margin-left: 3rem !important;
  }
}
@media only screen and (max-width: 955px) {
  .form-search .form-input .btn-danger {
    width: 25% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 50% !important;
    margin-left: 0.5rem !important;
  }
}
@media only screen and (max-width: 942px) {
  .form-search .btn {
    width: 60% !important;
    margin-left: 1rem !important;
  }
}
@media only screen and (max-width: 885px) {
  .form-search .form-input .btn-danger {
    width: 25% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 55% !important;
    margin-left: 0.5rem !important;
  }
}
@media only screen and (max-width: 850px) {
  .form-search input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    border-radius: none !important;
    width: 85%;
    margin-left: auto;
  }
  .form-search .form-input:nth-child(2) {
    margin-left: 2rem;
    width: 95%;
  }
  .form-search .form-input .btn-danger {
    width: 25% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 25% !important;
    margin-left: 0.5rem !important;
  }
  .form-search .btn-success span {
    display: none;
  }
  .form-search .btn-success i {
    display: inline;
  }
  .text-first {
    display: none;
  }
  .text-second {
    display: inline;
  }
}
@media only screen and (max-width: 840px) {
  .form-search .form-input{
    margin-left: -5rem;
  }
  .form-search .form-input .btn-danger {
    width: 30% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 30% !important;
    margin-left: 0.5rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .form-search {
    margin-top: 1rem;
    display: block !important;
  }
  .form-input:nth-child(1) {
    margin-left: -1rem !important;
  }
  .form-input:nth-child(2) {
    width: 100% !important;
  }
  .form-input {
    margin-left: 1rem !important;
  }
  .form-search .btn {
    width: 20% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 30% !important;
    margin-left: 0.5rem !important;
  }
}
@media only screen and (max-width: 631px) {
  
  .form-search .form-input .btn-success {
    width: 30% !important;
    margin-left: 0.5rem !important;
  }
}
@media only screen and (max-width: 560px) {
  .pagination-form {
    width: 100%;
    margin: auto;
  }
  .form-search .form-input .btn-danger {
    width: 25% !important;
    margin-left: 0.1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 30% !important;
    margin-left: 0.1rem !important;
  }
}
@media only screen and (max-width: 540px) {
  .form-search {
    margin-top: 1rem;
    display: block !important;
  }
  .form-input:nth-child(1) {
    margin-left: -1rem !important;
  }
  .form-input:nth-child(2) {
    width: 90% !important;
  }
  .form-input {
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-danger {
    width: 35% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    margin-left: 0.2rem !important;
  }
}
@media only screen and (max-width: 480px) {
  .form-search {
    margin-top: 1rem;
    display: block !important;
  }
  .form-input:nth-child(1) {
    margin-left: -1rem !important;
  }
  .form-input:nth-child(2) {
    width: 90% !important;
  }
  .form-input {
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-danger {
    width: 30% !important;
    margin-left: 1rem !important;
  }
  .form-search .form-input .btn-success {
    width: 30% !important;
    margin-left: 0.2rem !important;
  }
}
